.page {
	&__action {
		padding-top: 3.4375rem;
		padding-bottom: 4.6875rem;
		@media (max-width: $tablet) {
			padding-top: 3.4375rem;
			padding-bottom: 1.5625rem;
		}
	}
}
.action {
	&__container {
		display: flex;
		flex-direction: column;
	}

	&__header-content {
		align-self: center;
		&:not(:last-child) {
			margin-bottom: 2.1875rem;
		}
	}

	&__articles {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));

		column-gap: 1.625rem;
		row-gap: 1.625rem;

		&:not(:last-child) {
			padding-bottom: 6.25rem;
			@media (max-width: $mobile) {
				padding-bottom: 3.75rem;
			}
		}

		border-bottom: 1px solid $darckGrayColor;
	}

	&__form {
		display: flex;
		justify-content: space-between;
		align-items: center;

		margin: 4.6875rem 0;
		column-gap: 0.9375rem;

		@media (max-width: $tablet) {
			flex-direction: column;
			row-gap: 2.5rem;
			align-items: normal;
		}
		@media (max-width: $mobile) {
			text-align: center;
			margin: 2.5rem 0;
		}
	}
}

.articles-action {
	&__item {
		display: flex;
		flex-direction: column;

		row-gap: 2.1875rem;
	}

	&__body {
		display: flex;
		flex-direction: column;

		row-gap: 2.1875rem;
	}

	&__image {
		aspect-ratio: 363 / 268;
		object-fit: cover;
		overflow: clip;

		& img {
			transition: scale 0.4s ease;
		}
	}

	&__text {
		font-family: 'Nunito';
		color: $grayColor;
		line-height: 1.37;
	}

	&__link {
		display: flex;
		align-items: center;
		column-gap: 1rem;
		line-height: 1.5;
		letter-spacing: 0.43em;

		transition: column-gap 0.3s ease-in-out;

		@media (any-hover: hover) {
			&:hover {
				column-gap: 1.375rem;
			}
		}
	}
}
.articles-action__item {
	@media (any-hover: hover) {
		&:hover {
		}
		&:hover .articles-action__image img {
			scale: 1.04;
		}
	}
}
.form-action {
	&__title {
	}

	&__body {
		flex: 0 1 67.4%;
		display: grid;
		grid-template-columns: 1fr auto;

		column-gap: 1.5rem;
		@media (max-width: 565.98px) {
			grid-template-columns: auto;
			grid-template-rows: repeat(2, auto);
			row-gap: 35px;
		}
	}

	&__input {
		padding: 0.5625rem 1.6875rem;
		background-color: transparent;
		line-height: 1.37;
		font-family: 'Nunito';
		border-bottom: 1px solid $grayColor;
		color: #fff;
		&::placeholder {
			color: #fff;
			line-height: 1.37;
			font-family: 'Nunito';
			transition: opacity 0.4s ease;
			opacity: 1;
		}
		&:focus-visible {
			outline: transparent;
		}
		&:focus-visible::placeholder {
			opacity: 0;
		}
	}

	&__button {
	}
}
