.page {
	&__banner {
		padding-top: 2.6875rem;
		padding-bottom: 3.4375rem;
		@media (max-width: $tablet) {
			padding-top: 1.25rem;
			padding-bottom: 1.5625rem;
		}
	}
}
.banner {
	&__wrapper {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
		max-width: 1920px;
		margin: 0 auto;
	}

	&__image {
		aspect-ratio: 480 / 515;
		object-fit: cover;
	}
}
