.page {
	&__services {
		padding-top: 6.25rem;
		padding-bottom: 2.6875rem;
		@media (max-width: $tablet) {
			padding-top: 3.125rem;
			padding-bottom: 1.25rem;
		}
	}
}
.services {
	&__container {
		display: flex;
		flex-direction: column;
		row-gap: 2.9375rem;
		@media (max-width: $tablet) {
			row-gap: 1.5625rem;
		}
	}

	&__item {
		display: flex;
		justify-content: space-between;

		column-gap: 0.9375rem;

		&:not(:first-child) {
			padding-top: 1rem;
		}
		&:not(:last-child) {
			border-bottom: 1px solid $darckGrayColor;
			padding-bottom: 2.9375rem;
		}

		@media (max-width: $tablet) {
			flex-direction: column;
			align-items: center;
			text-align: center;
			row-gap: 1.5625rem;
		}
	}

	&__title {
		@media (max-width: $tablet) {
			font-size: 2.125rem;
		}
	}

	&__content {
		display: flex;
		flex-direction: column;

		row-gap: 1.375rem;

		max-width: 36.29%;
		@media (max-width: $tablet) {
			align-items: center;
			max-width: 25.75rem;
		}
	}

	&__text {
		color: $grayColor;
		font-family: 'Nunito';
	}

	&__link {
		display: flex;
		align-items: center;
		column-gap: 1rem;
		letter-spacing: 0.43em;
		transition: gap 0.3s ease-in-out;

		@media (any-hover: hover) {
			&:hover {
				column-gap: 22px;
			}
		}
		@media (max-width: $tablet) {
			& span {
				display: none;
				column-gap: 0;
			}
		}
	}
}
