$pc: 991.98px;
$tablet: 767.98px;
$mobile: 424.98px;

//===================================================
$bgColor: #191d1d;
$bgDarckColor: #131616;
$grayColor: #6d7d7d;
$darckGrayColor: #212828;

//===================================================
@import '_reset';
@import '_components';
@import '_button';
@import '_header';
@import '_hero';
@import '_about';
@import '_appeal';
@import '_trust';
@import '_services';
@import '_banner';
@import '_action';
@import '_footer';

//===================================================

body {
	//----------------підключення шрифту--------------
	font-family: 'Kanit', sans-serif;
	//----------------налаштування шрифту-------------
	font-size: 1rem;
	color: #fff;
	background-color: $bgColor;
}
.wrapper {
	min-height: 100%;
	overflow: clip;
}

// ==============Обмежуючий контейнер==============

[class*='__container'] {
	max-width: 1135px;
	padding-inline: 15px;
	margin-inline: auto;
}
// ===============================================
