*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: none;
  box-sizing: border-box;
}

*::before,
*::after {
  display: inline-block;
}

body,
html {
  height: 100%;
}

body {
  line-height: 1;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

img {
  max-width: 100%;
  vertical-align: middle;
}

li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-family: inherit;
  color: inherit;
  font-weight: inherit;
}

button {
  background-color: transparent;
  cursor: pointer;
}

cite {
  font-style: normal;
}

.logo {
  font-size: 36px;
  font-weight: 400;
  line-height: 1.33; /* 48/36 */
  text-wrap: nowrap;
  color: #000;
}
@media (max-width: 767.98px) {
  .logo {
    font-size: 30px;
  }
}
@media (max-width: 424.98px) {
  .logo {
    font-size: 28px;
  }
}

.logo--withe {
  color: #fff;
}

.icon-menu {
  width: 30px;
  height: 25px;
  position: relative;
  z-index: 3;
}
@media (min-width: 767.98px) {
  .icon-menu {
    display: none;
  }
}
.icon-menu::before, .icon-menu span, .icon-menu::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  right: 0;
  background-color: #fff;
  transition: all 0.3s ease-out;
}
.icon-menu::before {
  top: 0;
}
.icon-menu span {
  top: 50%;
  transform: translatey(-1px);
}
.icon-menu::after {
  bottom: 0;
}
.open-menu .icon-menu::before {
  rotate: -45deg;
  top: 50%;
}
.open-menu .icon-menu span {
  width: 0;
}
.open-menu .icon-menu::after {
  rotate: 45deg;
  top: 50%;
}

.icon-menu--black::before, .icon-menu--black span, .icon-menu--black::after {
  background-color: #000;
}

.title--big {
  font-size: 2.9375rem;
  line-height: 1.34;
}

.title--medium {
  font-size: 36px;
  line-height: 133.333333%; /* 48/36 */
}

.title--small {
  font-size: 30px;
  line-height: 133.333333%; /* 40/30 */
}

.title--lower-size {
  font-size: clamp(26px, 8vw, 30px);
}

.title--extra-smoll {
  font-size: 24px;
  line-height: 133.333333%; /* 32/24 */
}

.button {
  width: 132px;
  text-align: center;
  padding: 9px 12px;
  font-size: 13px;
  line-height: 1.3; /* 17/13 */
  letter-spacing: 0;
  transition: all 0.3s ease-in-out;
}

.button--withe {
  border: 2px solid rgb(255, 255, 255);
  color: rgb(255, 255, 255);
}
@media (any-hover: hover) {
  .button--withe:hover {
    border: 2px solid rgb(139, 139, 139);
    color: rgb(229, 229, 229);
    background-color: rgba(0, 0, 0, 0.5);
  }
}

.button--black {
  color: #000;
  border: 2px solid #000;
}
@media (any-hover: hover) {
  .button--black:hover {
    border: 2px solid rgb(108, 108, 108);
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
  }
}

.columns__body {
  display: flex;
  flex-direction: column-reverse;
  row-gap: 15px;
}
.columns__body:hover .columns__image img {
  scale: 1.1;
}
.columns__body:hover .columns__title {
  color: #626262;
}
.columns__title {
  font-size: 20px;
  line-height: 135%;
  transition: color 0.3s ease-out;
}
.columns__image {
  overflow: clip;
}
.columns__image img {
  -o-object-fit: cover;
     object-fit: cover;
  aspect-ratio: 200/208;
  transition: scale 0.3s ease-out;
}

.header {
  padding: 1.4375rem 1.625rem;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 50;
  transition: background-color 0.5s ease-out;
}
@media (max-width: 767.98px) {
  .header {
    padding: 0.625rem 0.625rem;
  }
}
@media (max-width: 424.98px) {
  .header {
    padding: 0.625rem 0px;
  }
}
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  -moz-column-gap: 0.625rem;
       column-gap: 0.625rem;
  color: rgb(255, 255, 255);
}
.header__logo {
  position: relative;
  z-index: 3;
}
@media (max-width: 767.98px) {
  .header__menu .menu__body {
    position: fixed;
    top: 0;
    right: -100%;
    width: 65%;
    height: 100%;
    background-color: rgba(47, 47, 47, 0.97);
    padding: 120px 20px 120px 50px;
    transition: right 0.8s ease-out;
  }
}
@media (max-width: 424.98px) {
  .header__menu .menu__body {
    padding: 120px 10px 120px 25px;
  }
}
.open-menu .header__menu .menu__body {
  right: 0;
}
.header__menu .menu__list {
  display: flex;
  flex-wrap: wrap;
  -moz-column-gap: 2rem;
       column-gap: 2rem;
  row-gap: 0.625rem;
}
@media (max-width: 767.98px) {
  .header__menu .menu__list {
    flex-direction: column;
    row-gap: 1.875rem;
  }
}
.header__menu .menu__link {
  font-size: 0.75rem;
  line-height: 1.33;
  position: relative;
  text-transform: capitalize;
}
@media (any-hover: hover) {
  .header__menu .menu__link::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: rgb(255, 255, 255);
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease-out;
  }
  .header__menu .menu__link:hover::after {
    transform: scaleX(1);
    transform-origin: left;
  }
  .header__menu .menu__link:not(:hover)::after {
    transform-origin: right;
  }
}
@media (max-width: 767.98px) {
  .header__menu .menu__link {
    font-size: 34px;
  }
}
@media (max-width: 424.98px) {
  .header__menu .menu__link {
    font-size: 26px;
  }
}
.header--bg {
  background-color: rgba(47, 47, 47, 0.7);
}

.page__hero {
  position: relative;
}
.page__hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 2;
}

.hero__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  height: 100svh;
}
@media (max-width: 767.98px) {
  .hero__container {
    align-items: center;
    text-align: center;
  }
}
.hero__content {
  position: relative;
  z-index: 2;
  color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hero__content > *:not(last-child) {
  margin-bottom: 1.875rem;
}
@media (max-width: 424.98px) {
  .hero__title {
    font-size: 2.125rem;
  }
}
.hero__label {
  line-height: 1.35;
  font-weight: 400;
}
.hero__label:not(:last-child) {
  margin-bottom: 4.5rem;
}
.hero__bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 5% center;
     object-position: 5% center;
}

.page__about {
  margin-top: clamp(40px, 4vh, 84px);
  margin-bottom: clamp(40px, 5vh, 100px);
}

.about__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: clamp(60px, 18vw, 115px);
}
.about__title {
  text-align: center;
}
.about__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  -moz-column-gap: 15px;
       column-gap: 15px;
  row-gap: 35px;
}
@media (max-width: 767.98px) {
  .about__content {
    flex-direction: column;
  }
}
.about__button {
  margin-top: clamp(0px, 1vw, 20px);
}

.content-about__imfo {
  flex: 1 1 46.770833%; /* 449/960 */
  display: flex;
  flex-direction: column;
  row-gap: 35px;
  max-width: 28.0625rem;
}
@media (max-width: 767.98px) {
  .content-about__imfo {
    max-width: 600px;
    text-align: center;
  }
}
.content-about__text {
  font-size: 1rem;
  line-height: 131.25%; /* 21/16 */
  display: flex;
  flex-direction: column;
  row-gap: 35px;
}
.content-about__image {
  flex: 0 1 32.916667%; /* 316/960 */
  position: relative;
}
.content-about__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  aspect-ratio: 316/485;
}
@media (max-width: 767.98px) {
  .content-about__image img {
    aspect-ratio: 1/1;
    -o-object-position: 0 35%;
       object-position: 0 35%;
  }
}

.product__container {
  border-top: 1px solid #837f7f;
  border-bottom: 1px solid #837f7f;
}
.product__wrapper {
  display: flex;
  flex-direction: column;
  max-width: 784px;
  margin-inline: auto;
  padding-top: clamp(40px, 9vw, 63px);
  padding-bottom: clamp(40px, 8vw, 117px);
}
.product__title {
  text-align: center;
}
.product__title:not(:last-child) {
  margin-bottom: clamp(30px, 2vw, 31px);
}
.product__filter {
  text-align: center;
  display: flex;
  flex-direction: column;
  row-gap: 22px;
  font-size: 16px;
  line-height: 131.25%; /* 21/16 */
}
.product__filter:not(:last-child) {
  margin-bottom: clamp(40px, 5vw, 100px);
}
.product__columns:not(:last-child) {
  margin-bottom: clamp(60px, 15vw, 118px);
}
.product__button {
  align-self: center;
}

.filter-product__link {
  position: relative;
  padding-bottom: 10px;
}
@media (any-hover: hover) {
  .filter-product__link::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background: #000;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease-out;
  }
  .filter-product__link:hover::after {
    transform: scaleX(1);
    transform-origin: left;
  }
  .filter-product__link:not(:hover)::after {
    transform-origin: right;
  }
}

.columns {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  row-gap: clamp(30px, 7vw, 76px);
  -moz-column-gap: clamp(30px, 7vw, 92px);
       column-gap: clamp(30px, 7vw, 92px);
  align-items: start;
}
.columns__body {
  display: flex;
  flex-direction: column-reverse;
}
.page__articles {
  margin-top: clamp(40px, 10vw, 92px);
  margin-bottom: clamp(40px, 8vw, 159px);
}

.articles__container {
  display: flex;
  flex-direction: column;
}
.articles__title {
  text-align: center;
}
.articles__title:not(:last-child) {
  margin-bottom: clamp(40px, 9vw, 65px);
}
.articles__columns:not(:last-child) {
  margin-bottom: clamp(40px, 10vw, 156px);
}
.articles__button {
  align-self: center;
}

.columns-articles {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
  -moz-column-gap: clamp(40px, 8vw, 112px);
       column-gap: clamp(40px, 8vw, 112px);
  row-gap: clamp(40px, 8vw, 50px);
}
.columns-articles__item {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: clip;
}
.columns-articles__item::before {
  content: "";
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0);
  transition: background 0.5s ease-in-out;
}
@media (any-hover: hover) {
  .columns-articles__item:hover .columns-articles__body {
    opacity: 1;
  }
  .columns-articles__item:hover::before {
    background-color: rgba(0, 0, 0, 0.5);
  }
  .columns-articles__item:hover .columns-articles__image {
    scale: 1.05;
  }
}
.columns-articles__body {
  height: 315px;
  position: relative;
  z-index: 4;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  color: #fff;
  padding: 12px;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}
.columns-articles__title {
  display: flex;
  align-items: center;
  flex: 1 1 auto;
  font-size: 28px;
  line-height: 132.142857%;
}
.columns-articles__subtitle {
  font-size: 17px;
  line-height: 135.294118%;
}
.columns-articles__image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  aspect-ratio: 251/315;
  transition: scale 0.5s ease-in-out;
}

.menu--black {
  color: #000;
}
@media (max-width: 767.98px) {
  .menu--black {
    color: #fff;
  }
}

.page__about {
  margin-top: clamp(80px, 10vw, 212px);
  margin-bottom: clamp(80px, 10vw, 108px);
}

.about-page__container {
  border-top: 1px solid #727070;
  border-bottom: 1px solid #727070;
}
.about-page__body {
  display: flex;
  flex-direction: column;
  text-align: center;
  row-gap: clamp(40px, 10vw, 96px);
  padding-top: clamp(40px, 10vw, 71px);
  padding-bottom: clamp(40px, 10vw, 146px);
  max-width: 740px;
  margin: 0 auto;
}
.page__blogs {
  margin-top: clamp(80px, 10vw, 212px);
  margin-bottom: clamp(80px, 10vw, 108px);
}

.blogs-page__container {
  display: flex;
  flex-direction: column;
  row-gap: 67px;
  text-align: center;
}
.blogs-page__title {
  font-size: 24px;
  line-height: 133.333333%; /* 32/24 */
}
.articles__wrapper {
  border-top: 1px solid #837f7f;
  border-bottom: 1px solid #837f7f;
  padding-top: clamp(40px, 10vw, 45px);
  padding-bottom: clamp(40px, 10vw, 65px);
}
.footer {
  background: rgb(47, 47, 47);
}
.footer__container {
  color: #fff;
  display: flex;
  flex-direction: column;
}
.footer__info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border-top: 1px solid #a09f9f;
  border-bottom: 1px solid #a09f9f;
  margin-top: 2.8125rem;
  padding-top: 2.1875rem;
  padding-bottom: 4.1875rem;
  padding-inline: 3.125rem;
  -moz-column-gap: 1.25rem;
       column-gap: 1.25rem;
  row-gap: 1.875rem;
}
@media (max-width: 767.98px) {
  .footer__info {
    flex-direction: column;
  }
}
.footer__menu {
  display: flex;
  position: relative;
  flex-direction: column;
  row-gap: 1.5625rem;
  text-align: center;
}
@media (min-width: 767.98px) {
  .footer__menu:not(:last-child)::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 1px;
    height: 100%;
    background-color: #a09f9f;
  }
  .footer__menu:not(:last-child) {
    padding-right: clamp(40px, 8vw, 105px);
  }
}
@media (max-width: 767.98px) {
  .footer__menu {
    flex-direction: column;
  }
  .footer__menu:not(:last-child) {
    border-bottom: 1px solid #a09f9f;
    padding-bottom: 1.875rem;
  }
}
.footer__copirayt {
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  -moz-column-gap: 0.625rem;
       column-gap: 0.625rem;
}
@media (max-width: 424.98px) {
  .footer__copirayt {
    flex-direction: column;
    row-gap: 1.5625rem;
  }
}

.menu-footer__title {
  font-size: 1.125rem;
  line-height: 133.333333%; /* 24/18 */
}
.menu-footer__list {
  display: flex;
  flex-direction: column;
  row-gap: 1.1875rem;
  text-align: center;
}
.menu-footer__link {
  font-size: 0.875rem;
  line-height: 135.714286%;
  position: relative;
}
@media (any-hover: hover) {
  .menu-footer__link::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: rgb(255, 255, 255);
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease-out;
  }
  .menu-footer__link:hover::after {
    transform: scaleX(1);
    transform-origin: left;
  }
  .menu-footer__link:not(:hover)::after {
    transform-origin: right;
  }
}
.menu-footer__call {
  margin-top: 2.8125rem;
}

body {
  font-family: "Playfair Display", sans-serif;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.35;
  color: #000000;
  background-color: #fff;
}

.wrapper {
  min-height: 100%;
  overflow: clip;
}

[class*=__container] {
  max-width: 960px;
  padding-inline: 15px;
  margin-inline: auto;
}