.page {
	&__container {
	}

	&__wrapper {
		display: flex;
		height: 100vh;
	}

	&__column {
		flex: 1 1 25%;

		display: flex;
		flex-direction: column;
		text-align: center;
		justify-content: center;

		cursor: pointer;

		transition: flex-basis 1s ease-in;

		&:hover {
			flex-basis: 50%;
		}

		&:nth-child(1) {
			background-color: #94915b;
		}
		&:nth-child(2) {
			background-color: #883d39;
		}
		&:nth-child(3) {
			background-color: #d8b74b;
		}
		&:nth-child(4) {
			background-color: #94915b;
		}
	}
}
.column-page {
	position: relative;
	&__info-content {
		display: flex;
		flex-direction: column;

		transform: scale(0.5);
		opacity: 0;

		transition: transform 0.7s ease-in-out, opacity 0.7s ease-in-out;
		transition-delay: 0.2s;
	}

	&__title {
		font-size: 70px;
		font-weight: 700;
		text-transform: capitalize;
		line-height: 130%; /* 100/125 */
		&:not(:last-child) {
			margin-bottom: 140px;
		}
	}

	&__cost {
		font-size: 18px;
		&:not(:last-child) {
			margin-bottom: 25px;
		}
	}

	&__text {
		align-self: center;
		font-size: 14px;
		max-width: 400px;
		&:not(:last-child) {
			margin-bottom: 25px;
		}
	}

	&__button {
		color: #3d3d3d;
		font-size: 16px;
		padding: 10px 25px;
		background-color: #fff;
		align-self: center;
		border-radius: 40px;
		font-weight: 700;
		@media (any-hover: hover) {
			&:hover {
				background-color: #cccccc;
			}
		}
	}

	&__image {
		position: absolute;
		z-index: 2;
		top: 20%;
		left: 0;
		width: 100%;
		max-height: 100%;

		object-fit: contain;
		transform: rotate(5deg);

		scale: 0.8;

		transition: transform 0.7s ease-in-out;
	}
}

.column-page__title h2 {
	&:nth-child(1) {
		color: transparent; /* всередині прозорий */
		-webkit-text-stroke: 2px #ffffff; /* товщина і колір обведення */
	}
	&:nth-child(3) {
		color: transparent; /* всередині прозорий */
		-webkit-text-stroke: 2px #ffffff; /* товщина і колір обведення */
	}
}

.column-page:hover .column-page__info-content {
	transform: scale(1);
	opacity: 1;
}
.column-page:hover .column-page__image {
	transform: rotate(0deg);
}
