@font-face {
  font-family: "FixelText";
  src: url("/fonts/FixelText-Regular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "FixelText";
  src: url("/fonts/FixelText-Bold.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "FixelText";
  src: url("/fonts/FixelText-Black.woff2") format("woff2");
  font-weight: 900;
  font-display: swap;
  font-style: normal;
}
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: none;
  box-sizing: border-box;
}

*::before,
*::after {
  display: inline-block;
}

body,
html {
  height: 100%;
}

body {
  line-height: 1;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

img {
  max-width: 100%;
  vertical-align: middle;
}

li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-family: inherit;
  color: inherit;
  font-weight: inherit;
}

button {
  background-color: transparent;
  cursor: pointer;
}

cite {
  font-style: normal;
}

.title {
  color: rgb(51, 51, 51);
  line-height: 1.2;
}

.title--big {
  font-size: 5.625rem;
  font-size: clamp(40px, 10vw, 90px);
  font-weight: 900;
}

.title--medium {
  font-size: 4rem;
}

.title--withe {
  color: rgb(255, 255, 255);
}

.number {
  font-size: 26px;
  font-weight: 700;
  line-height: 1.19;
  color: rgb(51, 51, 51);
  transition: color 0.3s;
}
@media (any-hover: hover) {
  .number:hover {
    color: #eacb00;
  }
}

.number--small {
  font-size: 20px;
}

.button {
  color: rgb(0, 0, 0);
  padding: 20px 64px;
  border-radius: 10px;
  background: linear-gradient(132.04deg, rgb(255, 223, 0), rgb(255, 183.9999847412, 0) 100%);
}

.header {
  position: relative;
  z-index: 50;
}
.header__container {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 2fr 1fr;
  padding: 22px 58px;
}
.header__contact {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  -moz-column-gap: 40px;
       column-gap: 40px;
}

.menu__body {
  max-width: 652px;
}
.menu__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.menu__item {
  display: flex;
  align-items: center;
  -moz-column-gap: clamp(10px, 10vw, 24px);
       column-gap: clamp(10px, 10vw, 24px);
}
.menu__item:not(:last-child)::after {
  content: "";
  height: 20px;
  width: 1px;
  background-color: rgba(51, 51, 51, 0.6);
}
.menu__link {
  transition: scale 0.3s ease-in-out;
}
@media (any-hover: hover) {
  .menu__link:hover {
    scale: 1.05;
  }
}
.menu__contact {
  display: none;
}

.contact__social {
  display: flex;
  -moz-column-gap: 12px;
       column-gap: 12px;
}
.contact__social img {
  max-width: 38px;
}
.social-contact__link {
  transition: scale 0.3s ease-in-out;
}
@media (any-hover: hover) {
  .social-contact__link:hover {
    scale: 1.08;
  }
}

.phone-contact {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.phone-contact__label {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.18;
}
.phone-contact__list {
  position: relative;
}
@media (any-hover: hover) {
  .phone-contact__list:hover .phone-contact__drop {
    display: flex;
  }
}
.phone-contact__number {
  display: flex;
  align-items: center;
  -moz-column-gap: 8px;
       column-gap: 8px;
  white-space: nowrap;
}
.phone-contact__number span {
  transition: transform 0.3s ease-in-out;
}
@media (any-hover: hover) {
  .phone-contact__number:hover span {
    transform: rotate(180deg);
  }
}
.phone-contact__drop {
  position: absolute;
  top: 100%;
  left: 0;
  padding: 10px 0;
  flex-direction: column;
  row-gap: 10px;
  background-color: #ffffff;
  display: none;
}
.icon-menu {
  display: none;
}

.hero__container {
  position: relative;
}
.hero__wrapper {
  position: relative;
  z-index: 3;
  display: flex;
  align-items: center;
  padding: 213px 0 0 59px;
  color: rgb(255, 255, 255);
}
.hero__content {
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 2;
  flex: 0 1 69%; /* 928/1582 */
}
.hero__lable {
  font-weight: 400;
}
.hero__title:not(:last-child) {
  margin-bottom: 20px;
}
.hero__text {
  max-width: 780px;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.5;
}
.hero__text:not(:last-child) {
  margin-bottom: 40px;
}
.hero__button {
  align-self: flex-start;
}
.hero__image {
  flex: 0 1 55.436157%;
  margin-left: -14%;
}
.hero__image img {
  -o-object-fit: cover;
     object-fit: cover;
  aspect-ratio: 877/595;
}
.hero__banner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 30px;
}

body {
  font-family: "FixelText", sans-serif;
  font-size: 1.25rem;
  color: rgb(51, 51, 51);
  background-color: #fff;
  font-weight: 600;
  line-height: 1.2;
}

.wrapper {
  min-height: 100%;
  overflow: clip;
}

[class*=__container] {
  max-width: 1670px;
  padding-inline: 15px;
  margin-inline: auto;
}