.page {
	&__about {
		margin-top: clamp(40px, 4vh, 84px);
		margin-bottom: clamp(40px, 5vh, 100px);
	}
}
.about {
	&__container {
		display: flex;
		flex-direction: column;
		align-items: center;

		row-gap: clamp(60px, 18vw, 115px);
	}

	&__title {
		text-align: center;
	}

	&__content {
		display: flex;
		justify-content: space-between;
		align-items: center;

		column-gap: 15px;
		row-gap: 35px;

		@media (max-width: 767.98px) {
			flex-direction: column;
		}
	}

	&__button {
		margin-top: clamp(0px, 1vw, 20px);
	}
}

.content-about {
	&__imfo {
		flex: 1 1 46.770833%; /* 449/960 */
		display: flex;
		flex-direction: column;

		row-gap: 35px;
		max-width: 28.0625rem;

		@media (max-width: 767.98px) {
			max-width: 600px;
			text-align: center;
		}
	}

	&__title {
	}

	&__text {
		font-size: 1rem;
		line-height: 131.25%; /* 21/16 */

		display: flex;
		flex-direction: column;
		row-gap: 35px;
	}

	&__image {
		flex: 0 1 32.916667%; /* 316/960 */
		position: relative;

		& img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			aspect-ratio: 316 / 485;
			@media (max-width: 767.98px) {
				aspect-ratio: 1 / 1;
				object-position: 0 35%;
			}
		}
	}
}
