.page {
	&__articles {
		margin-top: clamp(40px, 10vw, 92px);
		margin-bottom: clamp(40px, 8vw, 159px);
	}
}
.articles--blogs {
}
.articles {
	&__container {
		display: flex;
		flex-direction: column;
	}

	&__title {
		text-align: center;
		&:not(:last-child) {
			margin-bottom: clamp(40px, 9vw, 65px);
		}
	}

	&__columns {
		&:not(:last-child) {
			margin-bottom: clamp(40px, 10vw, 156px);
		}
	}

	&__button {
		align-self: center;
	}
}

.columns-articles {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));

	column-gap: clamp(40px, 8vw, 112px);
	row-gap: clamp(40px, 8vw, 50px);

	&__item {
		position: relative;
		display: flex;
		flex-direction: column;
		justify-content: center;
		overflow: clip;
		&::before {
			content: '';
			position: absolute;
			z-index: 2;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: rgba(0, 0, 0, 0);
			transition: background 0.5s ease-in-out;
		}
		@media (any-hover: hover) {
			&:hover .columns-articles__body {
				opacity: 1;
			}
			&:hover::before {
				background-color: rgba(0, 0, 0, 0.5);
			}
			&:hover .columns-articles__image {
				scale: 1.05;
			}
		}
	}

	&__body {
		height: 315px;
		position: relative;
		z-index: 4;

		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		align-items: center;

		color: #fff;
		padding: 12px;
		opacity: 0;
		transition: opacity 0.5s ease-in-out;
	}

	&__title {
		display: flex;
		align-items: center;
		flex: 1 1 auto;
		font-size: 28px;
		line-height: 132.142857%;
	}

	&__subtitle {
		font-size: 17px;
		line-height: 135.294118%;
	}

	&__image {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;

		object-fit: cover;
		aspect-ratio: 251 / 315;

		transition: scale 0.5s ease-in-out;
	}
}
