.logo {
	font-size: 36px;
	font-weight: 400;
	line-height: 1.33; /* 48/36 */
	text-wrap: nowrap;
	color: #000;
	@media (max-width: 767.98px) {
		font-size: 30px;
	}
	@media (max-width: 424.98px) {
		font-size: 28px;
	}
}
//---------------------------------------------------------

.logo--withe {
	color: #fff;
}
//=================================================================
.icon-menu {
	@media (min-width: 767.98px) {
		display: none;
	}
	width: 30px;
	height: 25px;
	position: relative;
	z-index: 3;

	&::before,
	& span,
	&::after {
		content: '';
		position: absolute;
		width: 100%;
		height: 2px;
		right: 0;
		background-color: #fff;
		transition: all 0.3s ease-out;
	}

	&::before {
		top: 0;
	}
	& span {
		top: 50%;
		transform: translatey(-1px);
	}
	&::after {
		bottom: 0;
	}
	.open-menu &::before {
		rotate: -45deg;
		top: 50%;
	}

	.open-menu & span {
		width: 0;
	}

	.open-menu &::after {
		rotate: 45deg;
		top: 50%;
	}
}
.icon-menu--black {
	&::before,
	& span,
	&::after {
		background-color: #000;
	}
}

//=================================================================

.title {
}
//---------------------------------------------------------
.title--big {
	font-size: 2.9375rem;
	line-height: 1.34;
}
.title--medium {
	font-size: 36px;
	line-height: 133.333333%; /* 48/36 */
}
.title--small {
	font-size: 30px;
	line-height: 133.333333%; /* 40/30 */
}
.title--lower-size {
	font-size: clamp(26px, 8vw, 30px);
}

.title--extra-smoll {
	font-size: 24px;
	line-height: 133.333333%; /* 32/24 */
}

//---------------------------------------------------------
.title--withe {
}
//=================================================================
.button {
	width: 132px;
	text-align: center;

	padding: 9px 12px;
	font-size: 13px;
	line-height: 1.3; /* 17/13 */
	letter-spacing: 0;
	transition: all 0.3s ease-in-out;
}
//---------------------------------------------------------
.button--withe {
	border: 2px solid rgba(255, 255, 255, 1);
	color: rgba(255, 255, 255, 1);
	@media (any-hover: hover) {
		&:hover {
			border: 2px solid rgb(139, 139, 139);
			color: rgb(229, 229, 229);
			background-color: rgba(0, 0, 0, 0.5);
		}
	}
}
//---------------------------------------------------------
.button--black {
	color: #000;
	border: 2px solid #000;
	@media (any-hover: hover) {
		&:hover {
			border: 2px solid rgb(108, 108, 108);
			background-color: rgba(0, 0, 0, 0.7);
			color: #fff;
		}
	}
}

//=================================================================
.columns {
	&__column {
	}

	&__body {
		display: flex;
		flex-direction: column-reverse;

		row-gap: 15px;

		&:hover .columns__image img {
			scale: 1.1;
		}
		&:hover .columns__title {
			color: #626262;
		}
	}

	&__title {
		font-size: 20px;
		line-height: 135%;
		transition: color 0.3s ease-out;
	}

	&__image {
		overflow: clip;
		& img {
			object-fit: cover;
			aspect-ratio: 200 / 208;
			transition: scale 0.3s ease-out;
		}
	}
}
