.footer {
	background: rgba(47, 47, 47, 1);

	&__container {
		color: #fff;
		display: flex;
		flex-direction: column;
	}

	&__info {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		border-top: 1px solid #a09f9f;
		border-bottom: 1px solid #a09f9f;

		margin-top: 2.8125rem;
		padding-top: 2.1875rem;
		padding-bottom: 4.1875rem;
		padding-inline: 3.125rem;
		column-gap: 1.25rem;
		row-gap: 1.875rem;

		@media (max-width: 767.98px) {
			flex-direction: column;
		}
	}

	&__menu {
		display: flex;
		position: relative;
		flex-direction: column;

		row-gap: 1.5625rem;
		text-align: center;

		@media (min-width: 767.98px) {
			&:not(:last-child)::after {
				content: '';
				position: absolute;
				top: 0;
				right: 0;
				width: 1px;
				height: 100%;
				background-color: #a09f9f;
			}
			&:not(:last-child) {
				padding-right: clamp(40px, 8vw, 105px);
			}
		}

		@media (max-width: 767.98px) {
			flex-direction: column;
			&:not(:last-child) {
				border-bottom: 1px solid #a09f9f;

				padding-bottom: 1.875rem;
			}
		}
	}

	&__copirayt {
		padding: 20px 0;
		display: flex;
		justify-content: space-between;
		align-items: center;
		column-gap: 0.625rem;
		@media (max-width: 424.98px) {
			flex-direction: column;
			row-gap: 1.5625rem;
		}
	}
}
.menu-footer {
	&__title {
		font-size: 1.125rem;
		line-height: 133.333333%; /* 24/18 */
	}

	&__body {
	}

	&__list {
		display: flex;
		flex-direction: column;

		row-gap: 1.1875rem;
		text-align: center;
	}

	&__item {
	}

	&__link {
		font-size: 0.875rem;
		line-height: 135.714286%;
		position: relative;
		@media (any-hover: hover) {
			&::after {
				content: '';
				position: absolute;
				bottom: 0;
				left: 0;
				width: 100%;
				height: 1px;
				background-color: rgba(255, 255, 255, 1);
				transform: scaleX(0);
				transform-origin: left;
				transition: transform 0.3s ease-out;
			}
			&:hover::after {
				transform: scaleX(1);
				transform-origin: left;
			}
			&:not(:hover)::after {
				transform-origin: right;
			}
		}
	}

	&__call {
		margin-top: 2.8125rem;
	}
}

.copirayt-footer {
	&__logo {
	}

	&__text {
	}
}
