.header {
	padding: 1.4375rem 1.625rem;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 50;

	transition: background-color 0.5s ease-out;

	@media (max-width: 767.98px) {
		padding: 0.625rem 0.625rem;
	}
	@media (max-width: 424.98px) {
		padding: 0.625rem 0px;
	}
	&__container {
		display: flex;
		justify-content: space-between;
		align-items: center;

		column-gap: 0.625rem;

		color: rgba(255, 255, 255, 1);
	}

	&__logo {
		position: relative;
		z-index: 3;
	}

	&__menu {
		.menu {
			&__body {
				@media (max-width: 767.98px) {
					position: fixed;
					top: 0;
					right: -100%;
					width: 65%;
					height: 100%;
					background-color: rgba(47, 47, 47, 0.97);

					padding: 120px 20px 120px 50px;

					transition: right 0.8s ease-out;
				}
				@media (max-width: 424.98px) {
					padding: 120px 10px 120px 25px;
				}
				.open-menu & {
					right: 0;
				}
			}

			&__list {
				display: flex;
				flex-wrap: wrap;

				column-gap: 2rem;
				row-gap: 0.625rem;

				@media (max-width: 767.98px) {
					flex-direction: column;
					row-gap: 1.875rem;
				}
			}

			&__item {
			}

			&__link {
				font-size: 0.75rem;
				line-height: 1.33;

				position: relative;
				text-transform: capitalize;
				@media (any-hover: hover) {
					&::after {
						content: '';
						position: absolute;
						bottom: 0;
						left: 0;
						width: 100%;
						height: 1px;
						background-color: rgba(255, 255, 255, 1);
						transform: scaleX(0);
						transform-origin: left;
						transition: transform 0.3s ease-out;
					}
					&:hover::after {
						transform: scaleX(1);
						transform-origin: left;
					}
					&:not(:hover)::after {
						transform-origin: right;
					}
				}

				@media (max-width: 767.98px) {
					font-size: 34px;
				}
				@media (max-width: 424.98px) {
					font-size: 26px;
				}
			}

			&__icon {
			}
		}
	}
}
.header--bg {
	background-color: rgba(47, 47, 47, 0.7);
}
