.page {
	&__hero {
		position: relative;

		&::before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: rgba(0, 0, 0, 0.2);
			z-index: 2;
		}
	}
}
.hero {
	&__container {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: flex-end;

		height: 100svh;
		@media (max-width: 767.98px) {
			align-items: center;
			text-align: center;
		}
	}

	&__content {
		position: relative;
		z-index: 2;

		color: rgba(255, 255, 255, 1);

		display: flex;
		flex-direction: column;
		align-items: center;
		& > *:not(last-child) {
			margin-bottom: 1.875rem;
		}
	}

	&__title {
		@media (max-width: 424.98px) {
			font-size: 2.125rem;
		}
	}

	&__label {
		line-height: 1.35;
		font-weight: 400;
		&:not(:last-child) {
			margin-bottom: 4.5rem;
		}
	}

	&__button {
	}

	&__bg {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;

		object-fit: cover;
		object-position: 5% center;
	}
}
