.page {
	&__product {
	}
}
.product {
	&__container {
		border-top: 1px solid #837f7f;
		border-bottom: 1px solid #837f7f;
	}

	&__wrapper {
		display: flex;
		flex-direction: column;

		max-width: 784px;
		margin-inline: auto;

		padding-top: clamp(40px, 9vw, 63px);
		padding-bottom: clamp(40px, 8vw, 117px);
	}

	&__title {
		text-align: center;
		&:not(:last-child) {
			margin-bottom: clamp(30px, 2vw, 31px);
		}
	}

	&__filter {
		text-align: center;
		display: flex;
		flex-direction: column;
		row-gap: 22px;

		font-size: 16px;
		line-height: 131.25%; /* 21/16 */

		&:not(:last-child) {
			margin-bottom: clamp(40px, 5vw, 100px);
		}
	}

	&__columns {
		&:not(:last-child) {
			margin-bottom: clamp(60px, 15vw, 118px);
		}
	}

	&__button {
		align-self: center;
	}
}

.filter-product {
	&__item {
	}

	&__link {
		position: relative;
		padding-bottom: 10px;

		@media (any-hover: hover) {
			&::after {
				content: '';
				position: absolute;
				bottom: 0;
				left: 0;
				width: 100%;
				height: 1px;
				background: #000;
				transform: scaleX(0);
				transform-origin: left;
				transition: transform 0.3s ease-out;
			}
			&:hover::after {
				transform: scaleX(1);
				transform-origin: left;
			}
			&:not(:hover)::after {
				transform-origin: right;
			}
		}
	}
}
.columns {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));

	row-gap: clamp(30px, 7vw, 76px);
	column-gap: clamp(30px, 7vw, 92px);
	align-items: start;
	&__column {
	}

	&__body {
		display: flex;
		flex-direction: column-reverse;
	}

	&__title {
	}

	&__image {
	}
}
