//===================================================

@import '_reset';
@import '_components';
@import '_header';
@import '_hero';
@import '_about';
@import '_produc';
@import '_articles';
@import '_about-page';
@import '_blogs-page';
@import '_footer';

//===================================================

body {
	//----------------підключення шрифту--------------
	font-family: 'Playfair Display', sans-serif;
	font-weight: 400;
	//----------------налаштування шрифту-------------
	font-size: 0.875rem;
	line-height: 1.35;
	color: #000000;
	background-color: #fff;
}
.wrapper {
	min-height: 100%;
	overflow: clip;
}

// ==============Обмежуючий контейнер==============

[class*='__container'] {
	max-width: 960px;
	padding-inline: 15px;
	margin-inline: auto;
}
// ===============================================
