.page {
	&__benefits {
	}
}
.benefits {
	&__container {
		display: flex;
		flex-direction: column;
		row-gap: 5.625rem;
	}

	&__hero-content {
	}

	&__list {
	}

	&__img {
		width: 100%;
		height: 37.5rem;
		aspect-ratio: 1200 / 620;
		object-fit: cover;
		object-position: center;
		border-radius: 1.875rem;
		@media (max-width: 424.98px) {
			aspect-ratio: 1 / 1;
			height: auto;
		}
	}
}

.list-benefits {
	&__body {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));

		column-gap: 2.5rem;
		row-gap: 1.25rem;
		@media (max-width: 424.98px) {
			grid-template-rows: repeat(1fr);
		}
	}

	&__item {
		display: grid;
		grid-template-rows: repeat(auto);

		border-top: 1px solid rgba(233, 233, 233, 1);
		padding-top: 2.5rem;
	}

	&__img {
		&:not(:last-child) {
			margin-bottom: 1.5rem;
		}
	}

	&__title {
		font-family: ('Crimson Text');
		font-size: 1.125rem;

		&:not(:last-child) {
			margin-bottom: 1.25rem;
		}
	}

	&__text {
		font-size: 0.9375rem;
		line-height: 1.4;
		color: $text-color;
	}
}
