.footer {
	&__container {
		display: flex;
		flex-direction: column;
		border-top: 1px solid $gray-color;
		text-align: center;
		align-items: center;

		padding-top: 2.5rem;
		padding-bottom: 2.5rem;
	}

	&__image {
		display: inline-block;
		height: 4.375rem;
		width: 2.1875rem;
		&:not(:last-child) {
			margin-bottom: 1.25rem;
		}
	}

	&__copy {
	}
}
.footre {
	&__menu {
		&:not(:last-child) {
			margin-bottom: 5rem;
		}
	}
}
.menu-footre {
	&__body {
	}

	&__list {
		display: flex;
		flex-wrap: wrap;

		column-gap: 1.6875rem;
		row-gap: 0.625rem;
		@media (max-width: 767.98px) {
			flex-direction: column;
			row-gap: 2.1875rem;
		}
	}

	&__item {
	}

	&__link {
		font-size: 0.875rem;
		font-weight: 700;
		line-height: 1.4;
		letter-spacing: -1px;
		@media (max-width: 767.98px) {
			font-size: 1.875rem;
		}
	}
}
.link {
}
