.header {
	position: relative;
	z-index: 50;
	&__container {
		// display: flex;
		// justify-content: space-between;

		display: grid;
		grid-template-columns: auto 1fr auto;
		align-items: center;

		min-height: 76px;
		column-gap: 10px;
		@media (max-width: 767.98px) {
			grid-template-columns: auto 1fr auto auto;
		}
	}

	&__logo {
		position: relative;
		z-index: 3;
	}

	&__menu {
		display: flex;
		justify-content: center;
	}

	&__button {
		position: relative;
		z-index: 3;
		max-width: 127px;
		text-align: center;
	}

	&__icon {
	}
}

.menu {
	&__body {
	}

	&__list {
		display: flex;
		flex-wrap: wrap;

		column-gap: 27px;
		row-gap: 10px;
	}

	&__item {
	}

	&__link {
		font-size: 14px;
		font-weight: 700;
		line-height: 1.4;
		letter-spacing: -1px;
	}
}

.icon-menu {
	display: none;
}
