.page {
	&__hero {
		@media (max-width: 767.98px) {
			margin-top: 2.625rem;
		}
	}
}
.hero {
	&__container {
		display: flex;
		flex-direction: column;

		row-gap: 6.25rem;
		@media (max-width: 767.98px) {
			display: grid;

			row-gap: 4.375rem;
		}
	}

	&__title {
		font-family: 'Crimson Text';
		font-size: clamp(77px, 16vw, 160px);

		line-height: 90%;
		letter-spacing: -6.5px;
		text-align: center;
		@media (max-width: 767.98px) {
		}
	}

	&__image {
		overflow: clip;
		position: relative;
		display: flex;
		align-items: center;

		justify-content: center;
		padding: 0 1.5rem;

		@media (max-width: 767.98px) {
			padding: 0 0.6875rem;
		}
		@media (max-width: 424.98px) {
			align-items: normal;
		}
		&::before {
			content: '';
			position: absolute;
			z-index: 1;
			bottom: 0;
			left: 0;
			width: 100%;
			min-height: 22.625rem;
			border-radius: 1.875rem;
			background-color: $green-color;
		}
		@media (max-width: 767.98px) {
			height: 26.375rem;
		}
	}

	&__img {
		position: relative;
		z-index: 2;
		margin-bottom: -11.2%;

		display: inline-block;

		width: 56.6875rem;
		min-height: 100%;

		object-fit: contain;
		object-position: top;
		@media (max-width: 424.98px) {
			margin-bottom: clamp(-50px, 15vw, -141px);
			height: 100%;
			object-fit: cover;
		}
	}
}
