.page {
	&__join {
		margin-bottom: 7.5rem;
	}
}
.join {
	&__container {
	}

	&__hero-content {
		border-top: 1px solid $gray-color;
	}
	.hero-content--center-text {
		.hero-content {
			&__body {
				align-self: center;
				border-top: none;
			}

			&__title {
			}

			&__text {
				max-width: 37.5rem;
				align-self: center;
			}

			&__button {
				max-width: 37.5rem;
			}
		}
	}
}
