@media (max-width: 767.98px) {
	.menu {
		&__body {
			position: fixed;
			top: 0;
			right: -100%;
			width: 75%;
			height: 100%;
			background-color: $green-color;
			border-left: 2px solid $accent-color;

			padding: 176px 10px 150px 30px;

			transition: right 0.8s ease-in-out;
		}

		&__list {
			flex-direction: column;
			row-gap: 1.5625rem;
		}

		&__item {
		}

		&__link {
			font-size: 38px;
		}

		.open-menu &__body {
			right: 0;
		}
	}
	.icon-menu {
		position: relative;
		display: block;
		width: 18px;
		height: 12px;
		margin: 3px;

		&::before,
		& span,
		&::after {
			content: '';
			position: absolute;

			right: 0;
			width: 100%;
			height: 2px;
			background-color: $text-black-color;
			transition: all 0.3s ease-in-out;
		}
		&::before {
			bottom: 0;
		}
		& span {
			top: 50%;
			transform: translateY(-50%);
		}
		&::after {
			top: 0;
		}

		.open-menu &::before {
			transform: rotate(45deg);
			top: 50%;
		}
		.open-menu & span {
			width: 0;
		}
		.open-menu &::after {
			transform: rotate(-45deg);
			top: 50%;
		}
	}
}

@media (max-width: 424.98px) {
	.menu {
		&__body {
			width: 100%;
			height: 100%;

			padding: 176px 10px 150px 30px;
		}

		&__list {
		}

		&__item {
		}

		&__link {
		}
	}
	.icon-menu {
	}
}
