.page {
	&__review {
		margin-bottom: 10.3125rem;
	}
}
.review {
	&__container {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));

		column-gap: 1.25rem;
		@media (max-width: 767.98px) {
			grid-template-columns: auto;
		}
	}

	&__body {
		display: flex;
		border-top: 1px solid $gray-color;
	}
	&__wrapper {
		padding-top: 2.625rem;
		padding-left: clamp(20px, 2vw, 50px);

		display: flex;
		flex-direction: column;
		justify-content: center;

		row-gap: 3.125rem;
		@media (max-width: 767.98px) {
			padding: 2.5rem 1rem 0;
		}
	}
	&__testimonial {
	}

	&__quote {
		font-family: 'Crimson Text';
		font-size: 2.5rem;
		letter-spacing: -1.4px;
		@media (max-width: 424.98px) {
			font-size: 35px;
		}
	}

	&__author {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		row-gap: 0.5rem;
	}

	&__name {
		font-size: 0.9375rem;
		line-height: 1.4;
	}

	&__position {
		font-family: 'Roboto Mono';
		font-size: 0.75rem;
		line-height: 1.4;
		color: $accent-color;
	}

	&__image {
		align-self: center;

		grid-row: 1;

		border-radius: 1.875rem;
		overflow: clip;

		aspect-ratio: 590 / 669;
		object-fit: cover;
		@media (max-width: 767.98px) {
			display: none;
		}
	}
}
