.page {
	&__services {
		margin-bottom: 7.5rem;
	}
}
.services {
	&__container {
		display: flex;
		flex-direction: column;

		row-gap: 7.125rem;
	}

	&__hero-content {
	}

	&__list {
		display: flex;
		flex-wrap: wrap;
	}
}

.page__services {
	.hero-content {
		&__body {
		}

		&__label {
		}

		&__title {
		}

		&__text {
		}

		&__button {
			align-self: center;
		}
	}
}

.list-services {
	&__column {
		flex: 1 1 33.333%;

		overflow: clip;
		min-width: 15rem;

		outline: 1px solid transparent;
		border-radius: 0;

		transition: box-shadow 0.3s ease-in-out, outline 0.3s ease-in-out,
			border-radius 0.3s ease-in-out;
		@media (any-hover: hover) {
			&:hover {
				box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.08);
				outline: 1px solid $gray-color;
				border-radius: 1.25rem;
			}
		}
	}

	&__title {
		text-align: center;
		font-family: 'Crimson Text';
		font-size: 1.4375rem;
		line-height: 1.2;
		font-weight: 600;
		letter-spacing: -1.1px;
		color: $text-color;

		padding: 2.5rem 0 1.5625rem;

		transition: color 0.3s ease-in-out;
	}

	&__items {
		border-top: 1px solid $text-color;
	}

	&__item {
		display: flex;
		align-items: center;

		column-gap: 0.625rem;

		border-bottom: 1px solid $gray-color;
		padding: 2rem 0 2rem 1.25rem;
	}

	&__icon {
	}

	&__text {
		font-family: 'Roboto Mono';
		font-size: 0.75rem;
		line-height: 1.4;
	}
}
@media (any-hover: hover) {
	.list-services__column:hover .list-services__title {
		color: $text-black-color;
	}
}
