.page {
	&__trusted {
	}
}
.trusted {
	&__container {
		display: flex;
		flex-direction: column;

		row-gap: 3.125rem;
		margin-top: 3.125rem;
		margin-bottom: 4.375rem;
	}

	&__label {
	}

	&__list {
		display: flex;
		justify-content: space-around;
		align-items: center;
		flex-wrap: wrap;
		column-gap: 1.25rem;
		row-gap: 1.875rem;
	}

	&__item {
	}
}
