*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: none;
  box-sizing: border-box;
}

*::before,
*::after {
  display: inline-block;
}

body,
html {
  height: 100%;
}

body {
  line-height: 1;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

img {
  max-width: 100%;
  vertical-align: middle;
}

li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-family: inherit;
  color: inherit;
  font-weight: inherit;
}

button {
  background-color: transparent;
  cursor: pointer;
}

cite {
  font-style: normal;
}

@font-face {
  font-family: "ClashDisplay-Medium";
  src: url("../fonts/ClashDisplay-Medium.woff2") format("woff2");
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "ClashDisplay-Semibold";
  src: url("../fonts/ClashDisplay-Semibold.woff2") format("woff2");
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}
.button {
  display: flex;
  align-items: center;
  text-transform: uppercase;
  line-height: 1.23;
  letter-spacing: 2px;
  -moz-column-gap: 0.625rem;
       column-gap: 0.625rem;
  padding: 1rem;
  transition: background 0.3s ease-in-out;
}
.button span {
  position: relative;
  display: inline-block;
  width: 1rem;
}
.button span::before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  width: 100%;
  height: 0.0625rem;
  background-color: #000;
  transition: transform 0.3s ease-in-out, height 0.3s ease-out;
}
.button span::after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  width: 100%;
  height: 0.0625rem;
  background-color: #000;
  transition: transform 0.3s ease-in-out, height 0.3s ease-out;
}
@media (any-hover: hover) {
  .button:hover span::before {
    transform: rotate(90deg);
    height: 0.125rem;
  }
  .button:hover span::after {
    transform: rotate(180deg);
    height: 0.125rem;
    transition: transform 0.5s ease-in-out;
  }
}

@media (max-width: 535px) {
  .button--header {
    padding: 10px 10px;
    background-color: rgba(210, 246, 90, 0.5);
  }
}
@media (max-width: 535px) {
  .button--header span {
    display: none;
    padding: 0;
  }
}

.button--grean {
  color: #000;
  background-color: #d2f65a;
}
@media (any-hover: hover) {
  .button--grean:hover {
    background-color: #a8c548;
  }
  .button--grean:active {
    transition: background 0s ease-in-out;
    background-color: #daff5f;
  }
}

.scrolling-text {
  overflow: hidden;
  white-space: nowrap;
}
.scrolling-text__wrapper {
  display: inline-flex;
  animation: marquee 25s linear infinite;
}
.scrolling-text__wrapper span {
  padding-right: 10px;
}
.scrolling-text__inner {
  display: flex;
}
@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.scrolling-text--grean {
  padding: 16px 0;
  background-color: rgb(210, 247, 90);
  line-height: 1.08;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}

.title {
  text-transform: uppercase;
  line-height: 1.2; /* 96/80 */
}

.title--medium {
  font-size: 80px;
  font-size: clamp(45px, 8vw, 80px);
  font-weight: 500;
  line-height: 1;
  letter-spacing: 1px;
}

.title--big {
  font-size: 112px;
  font-size: clamp(45px, 8vw, 120px);
  line-height: 1.2;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 108px;
  padding-block: 10px;
  -moz-column-gap: 0.9375rem;
       column-gap: 0.9375rem;
  row-gap: 5px;
}
@media (max-width: 535px) {
  .header__container {
    flex-direction: column;
    align-items: center;
    padding-block: 15px;
  }
}
.menu__list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  row-gap: 0.625rem;
  -moz-column-gap: 2rem;
       column-gap: 2rem;
}
@media (max-width: 767.98px) {
  .menu__list {
    -moz-column-gap: clamp(10px, 10vw, 20px);
         column-gap: clamp(10px, 10vw, 20px);
  }
}
@media (max-width: 535px) {
  .menu__list {
    flex-direction: row-reverse;
  }
}
@media (min-width: 767.98px) {
  .menu__item:nth-child(2):not(:last-child) {
    margin-right: 1rem;
  }
}
.menu__link {
  text-transform: uppercase;
  letter-spacing: 2px;
  line-height: 1.23;
  transition: scale 0.2s ease-in;
}
@media (any-hover: hover) {
  .menu__link:hover {
    scale: 1.1;
  }
  .menu__link:active {
    transition: all 0s ease-in;
    scale: 1.15;
    color: #82a11a;
  }
}
.page__hero {
  margin-bottom: 96px;
  margin-bottom: clamp(40px, 11vw, 96px);
}

.hero__container {
  display: flex;
  flex-direction: column;
}
.hero__header {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}
.hero__header:not(:last-child) {
  margin-bottom: 2rem;
}
@media (max-width: 535px) {
  .hero__header {
    margin-top: 16px;
  }
  .hero__header:not(:last-child) {
    margin-bottom: 16px;
  }
}
.hero__image img {
  width: 100%;
  aspect-ratio: 1824/1440;
  -o-object-fit: cover;
     object-fit: cover;
}

.header-hero__image {
  width: 100%;
}
.header-hero__title {
  text-transform: uppercase;
  font-size: 3rem;
  font-size: clamp(1.75rem, 5vw, 3rem);
  line-height: 1.2;
  letter-spacing: 1px;
}

.page__clients {
  margin-bottom: clamp(80px, 11vw, 160px);
}

.clients__wrapper {
  display: flex;
  flex-direction: column;
  max-width: 1600px;
  margin: 0 auto;
  row-gap: 128px;
  row-gap: clamp(50px, 11vw, 128px);
  padding-inline: 20px;
}
.clients__brandy {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: start;
  -moz-column-gap: clamp(50px, 16vw, 292px);
       column-gap: clamp(50px, 16vw, 292px);
}

.achievements__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  -moz-column-gap: 96px;
       column-gap: 96px;
  row-gap: 25px;
}
.achievements__item {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
}
.achievements__item::before {
  content: "";
  width: 100%;
  height: 2px;
  background-color: #000;
}
@media (max-width: 424.98px) {
  .achievements__item {
    text-align: center;
  }
}
.achievements__title {
  line-height: 1.23;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.achievements__title:not(:last-child) {
  margin-top: 8px;
}
.achievements__value {
  text-transform: uppercase;
  font-size: clamp(40px, 10vw, 80px);
  line-height: 1.2;
  letter-spacing: 1px;
  font-weight: 600;
}

.achievements-value--grean {
  color: rgb(210, 247, 90);
}

.brandy-clients__title {
  display: inline-flex;
  -moz-column-gap: 8px;
       column-gap: 8px;
  align-items: center;
  line-height: 1.23;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.brandy-clients__title::before {
  content: "";
  width: 24px;
  height: 2px;
  background-color: #000;
}
.brandy-clients__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(140px, auto));
  justify-items: center;
  justify-content: space-between;
  align-items: center;
  -moz-column-gap: 20px;
       column-gap: 20px;
  row-gap: 20px;
}
@media (max-width: 424.98px) {
  .brandy-clients__list {
    justify-items: start;
  }
}
.page__brand {
  margin-bottom: clamp(80px, 11vw, 160px);
}

.brand__wrapper {
  max-width: 1600px;
  margin: 0 auto;
  padding-inline: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  -moz-column-gap: clamp(40px, 10vw, 96px);
       column-gap: clamp(40px, 10vw, 96px);
  row-gap: 40px;
}
@media (max-width: 767.98px) {
  .brand__wrapper {
    grid-template-columns: 1fr;
  }
}
.brand__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media (max-width: 767.98px) {
  .brand__content {
    row-gap: 40px;
  }
}
.brand__author {
  display: flex;
  align-items: center;
  -moz-column-gap: 16px;
       column-gap: 16px;
}
.author__image {
  width: 80px;
  height: 80px;
}
.author__name {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2; /* 24/20 */
  text-transform: uppercase;
  letter-spacing: 2px;
}
.author__position {
  font-size: 13px;
  font-weight: 500;
  line-height: 1.2;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: rgba(25, 25, 25, 0.7);
}

.list-brand__items {
  display: flex;
  flex-direction: column;
  row-gap: 32px;
}
.list-brand__item {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  padding: 48px;
  background: rgb(248, 248, 248);
}
@media (max-width: 767.98px) {
  .list-brand__item {
    padding: clamp(20px, 8vw, 48px);
  }
}
.list-brand__title {
  font-size: clamp(26px, 8vw, 32px);
  font-weight: 500;
  line-height: 1.19; /* 38/32 */
  letter-spacing: 1px;
  text-transform: uppercase;
}
.list-brand__text {
  color: rgb(25, 25, 25);
  font-family: "Inter";
  font-size: 17px;
  line-height: 1.7;
  font-weight: 400;
}

.page__example {
  margin-bottom: 96px;
}

.example__items {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 16px;
}
.example__item:hover .example__image {
  padding: 8px;
}
.example__item {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}
.example__image {
  padding: 0;
  aspect-ratio: 904/900;
  -o-object-fit: cover;
     object-fit: cover;
  background-color: #d2f65a;
  transition: padding 0.5s ease-in-out;
}
.example__product {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  font-size: 24px;
  font-weight: 500;
  line-height: 1.2;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.example__product span {
  color: rgba(25, 25, 25, 0.7);
  font-size: 13px;
  line-height: 1.2;
}

.page__work {
  margin-top: clamp(40px, 8vw, 64px);
  margin-bottom: clamp(80px, 8vw, 128px);
}

.work .example__container {
  display: flex;
  flex-direction: column;
  row-gap: 96px;
  row-gap: clamp(40px, 8vw, 96px);
}
.work .example__title {
  text-align: center;
}
.work .example__items {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: auto;
}
@media (max-width: 767.98px) {
  .work .example__items {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(4, auto);
  }
}
.footer {
  background-color: #000;
  color: #fff;
}
.footer__wrapper {
  padding-top: 96px;
  padding-bottom: 64px;
  padding-inline: clamp(20px, 9vw, 160px);
  display: flex;
  flex-direction: column;
  row-gap: 96px;
}
.footer__top {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 50px;
  -moz-column-gap: 15px;
       column-gap: 15px;
}
@media (max-width: 767.98px) {
  .footer__top {
    flex-direction: column;
    row-gap: 40px;
    align-items: center;
  }
}
.menu-footer__columns {
  display: flex;
  align-items: flex-start;
  -moz-column-gap: clamp(25px, 13vw, 233px);
       column-gap: clamp(25px, 13vw, 233px);
}
@media (max-width: 767.98px) {
  .menu-footer__columns {
    flex-direction: column;
    row-gap: 40px;
    text-align: center;
  }
}
.menu-footer__column {
  display: flex;
  flex-direction: column;
  row-gap: 32px;
}
.menu-footer__title {
  font-size: 20px;
  line-height: 1.2;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.menu-footer__list {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
}
.menu-footer__link {
  line-height: 1.23;
  letter-spacing: 2px;
  text-transform: uppercase;
  transition: color 0.3s ease-in-out;
}
@media (any-hover: hover) {
  .menu-footer__link:hover {
    color: #d2f65a;
  }
}

.copyright-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  row-gap: 15px;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.7);
}
.copyright-footer__text {
  line-height: 1.23;
  letter-spacing: 2px;
}
.copyright-footer__informations {
  display: flex;
  -moz-column-gap: 2rem;
       column-gap: 2rem;
}
.copyright-footer__info {
  transition: color 0.3s ease-in-out;
}
@media (any-hover: hover) {
  .copyright-footer__info:hover {
    color: #d2f65a;
  }
}

body {
  font-family: "ClashDisplay-Medium", sans-serif;
  font-weight: 500;
  font-size: 0.8125rem;
  color: #000000;
  background-color: #fff;
}

.wrapper {
  min-height: 100%;
  overflow: clip;
}

[class*=__container] {
  max-width: 1890px;
  padding-inline: 15px;
  margin-inline: auto;
}