.page {
	&__contact {
		background: rgba(244, 244, 244, 1);
		padding-block: 11.034483svh; /* 64px/580 */
	}
}
.contact {
	&__container {
		display: flex;
		flex-direction: column;
		align-items: center;

		row-gap: 11.034483svh; /* 64px/580 */
	}

	&__header-block {
	}

	&__list {
		display: flex;
		flex-direction: column;
		text-align: center;

		row-gap: 5.517241svh; /* 32px/580 */
	}

	&__link {
		font-size: 1rem;
		line-height: 1.25; /* 20/16 */
		letter-spacing: 1px;

		display: flex;
		justify-content: center;
		align-items: center;
		gap: 2.758621svh; /* 16px/580 */

		transition: scale 0.3s ease-in-out;
		@media (any-hover: hover) {
			&:hover {
				scale: 1.1;
			}
		}
	}

	&__social {
	}
}
.link-phone {
	&::before {
		content: '';
		background-image: url(//img/contact/phone.svg);
		background-repeat: no-repeat;
		width: 24px;
		height: 24px;
	}
}
.link-email {
	&::before {
		content: '';
		background-image: url(//img/contact/emaill.svg);
		background-repeat: no-repeat;
		width: 24px;
		height: 24px;
	}
}
.link-location {
	&::before {
		content: '';
		background-image: url(//img/contact/global.svg);
		background-repeat: no-repeat;
		width: 24px;
		height: 24px;
	}
}
.header-block {
	&__title {
	}

	&__subtitle {
	}

	&__line {
	}
}
.title {
}
.social {
	display: flex;
	align-items: center;
	column-gap: 32px;
	&__item {
		transition: scale 0.3s ease-in-out;
		@media (any-hover: hover) {
			&:hover {
				scale: 1.1;
			}
		}
	}
}
