.page {
	&__blog {
		&:not(:last-child) {
			margin-bottom: 154px;
		}
	}
}
.blog {
	&__container {
	}

	&__body {
		display: flex;
		flex-direction: column;

		max-width: 88.4375rem;
		margin: 0 auto;
	}

	&__main-content {
		&:not(:last-child) {
			margin-bottom: 5rem;

			@media (max-width: $mobile) {
				margin-bottom: 2.5rem;
			}
		}
	}

	&__articles {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));

		column-gap: 2.5rem;
		row-gap: 2.5rem;

		&:not(:last-child) {
			margin-bottom: 5.625rem;
			@media (max-width: $mobile) {
				margin-bottom: 2.5rem;
			}
		}
	}

	&__button {
		align-self: center;
	}
}

.articles-blog {
	&__item {
		transition: transform 0.5s cubic-bezier(0.89, 0.77, 0.33, 0.99);
		@media (any-hover: hover) {
			&:hover {
				transform: scale(1.01);
			}
		}
	}

	&__body {
		display: grid;
		grid-template-columns: repeat(1, auto);
		grid-template-rows: repeat(2, auto);
		justify-items: center;
	}

	&__content {
		display: flex;
		flex-direction: column;
		order: 2;
		max-width: 26.25rem;
		margin-top: -3.25rem;

		row-gap: 0.625rem;

		padding: 1.875rem 2.8125rem 2.1875rem 2.1875rem;

		border: 1px solid rgba(249, 249, 249, 1);
		box-shadow: 0px 1.25rem 2.75rem 0px rgba(0, 0, 0, 0.06);
		background: rgba(255, 255, 255, 1);

		transition: transform 0.5s cubic-bezier(0.89, 0.77, 0.33, 0.99);
		@media (any-hover: hover) {
			.articles-blog__body:hover & {
				transform: translateY(-0.625rem);
			}
		}

		@media (max-width: $mobile) {
			padding: 1.875rem 1.875rem 1.875rem 1.875rem;
		}
	}

	&__time {
		font-size: 0.875rem;
		line-height: 2.12;
		color: $silver-color;
	}

	&__title {
		font-size: 1.375rem;
		font-weight: 500;
		line-height: 1.47;
		text-transform: capitalize;
		color: $back-color;
		@media (max-width: $mobile) {
			font-size: 1.25rem;
		}
	}

	&__text {
		& p {
			line-height: 2;
			letter-spacing: 0.02em;
			color: $silver-color;
			& mark {
				background-color: transparent;
				color: $brown-color;
				font-size: 0.875rem;
				font-style: italic;
				text-decoration: underline;
			}
		}
	}

	&__bg {
		order: 1;
		width: 100%;

		aspect-ratio: 482 / 412;
		object-fit: contain;
	}
}
