// Шрифти -------------------------------------------
.main-content {
	&__title {
	}

	&__text {
		line-height: 212%;
		letter-spacing: 0.02em;
		color: $darck-silver-color;
	}
}
.main-content--column {
	display: inline-flex;
	flex-direction: column;
	align-items: flex-start;

	row-gap: 2.125rem;
}
.main-content--size {
	max-width: 28.75rem;
}
// Шрифти -------------------------------------------
.title {
	font-family: 'Prata';
	font-size: 3.0625rem;
	line-height: 129.4%;
	letter-spacing: -0.02em;
	color: $back-color;
	text-transform: capitalize;
	@media (max-width: $tablet) {
		font-size: 35px;
	}
}
.title--decorate-line h2 {
	display: inline;
	position: relative;
	padding-right: 55px;

	&::before {
		content: '';
		position: absolute;
		top: 50%;
		right: 0;
		width: 30px;
		height: 3px;
		background-color: $brown-color;
		@media (max-width: $tablet) {
			display: none;
		}
	}
}
// Шрифти -------------------------------------------
.title--big {
	font-size: clamp(40px, 10vw, 90px);
	line-height: 110%;
	letter-spacing: normal;
	@media (max-width: 767.98px) {
		font-size: 58px;
	}
	@media (max-width: 424.98px) {
		font-size: 48px;
	}
}

.title--footer {
	font-size: 22px;
	font-weight: 500;
	line-height: 2.12;
	text-transform: capitalize;
	font-family: 'Rubik';
}

// Шрифти -------------------------------------------

.link {
}
.link--animation {
	position: relative;
	transition: color 0.3s ease-in-out;
	color: $darck-silver-color;
	&::before,
	&::after {
		content: '';
		position: absolute;
		bottom: -5px;
		height: 2px;
		background-color: $back-color;

		transform-origin: center;
		border-radius: 0.5em;
	}

	/* Крапля */
	&::before {
		width: 100%;
		transform: translateY(-0.6em) scaleX(0.08);
		transition: transform 0.3s cubic-bezier(0.48, 0.48, 0.03, 1.05),
			opacity 0.3s cubic-bezier(0.48, 0.48, 0.03, 1.05);
		transform-origin: center;
		opacity: 0;
		border-radius: 0.9em;
	}

	&::after {
		left: 0;
		width: 100%;
		transform: scaleX(0);
		transform-origin: center;
		transition: transform 0.3s cubic-bezier(0.68, -0.6, 0.32, 1.6) 0.2s; // ← затримка!
	}

	@media (any-hover: hover) {
		color: $darck-silver-color;
		&:hover {
			color: $back-color;

			&::before {
				transform: translateX(0) scaleX(0.08); // крапля спочатку
				opacity: 1;
			}

			&::after {
				transform: scaleX(1); // потім лінія
			}
		}
		&:not(:hover) {
			&::before {
				transition: transform 0.3s ease-in-out 0.6s, opacity 0.3s ease-in-out 0.5s;
			}
		}
		&:not(:hover) {
			transition: color 0.3s ease-in-out 0.6s;
		}
	}
}

.anim-left {
	opacity: 0;
	transform: translateX(-80px);
	transition: all 0.8s ease-in-out;
}
.anim-right {
	opacity: 0;
	transform: translateX(80px);
	transition: all 0.8s ease-in-out;
}

.anim-block.show {
	opacity: 1;
	transform: translateY(0);
}
