.header {
	position: fixed;
	padding-top: 67px;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 50;
	overflow: clip;

	transition: all 0.8s cubic-bezier(0.61, 0.32, 0.37, 0.81);
	&__container {
		display: grid;
		grid-template-columns: auto 1fr auto;
		align-items: center;

		@media (max-width: 767.98px) {
			column-gap: 1.25rem;
		}
	}

	&__logo {
		position: relative;
		z-index: 3;
		&:not(:last-child) {
			margin-right: clamp(20px, 6vw, 96px);
			@media (max-width: 767.98px) {
				margin-right: 0;
			}
		}
	}

	&__menu {
	}

	&__action {
	}
}
.header--bg {
	padding: 10px 0;
	background-color: rgba(0, 0, 0, 0.3);
	align-items: center;
}
.menu {
	&__body {
		@media (max-width: 560px) {
			position: fixed;
			top: 0;
			right: -100%;
			width: 80%;
			height: 100%;
			background-color: #e5ecfa;

			padding: 11.25rem 3.75rem 5.625rem;

			transform-origin: top right;

			overflow: clip;

			transition: right 0.9s cubic-bezier(0.61, 0.32, 0.37, 0.81);

			.open-menu & {
				right: 0;
			}
		}
	}

	&__list {
		display: flex;
		flex-wrap: wrap;

		column-gap: 2.5rem;
		row-gap: 0.625rem;
		@media (max-width: 767.98px) {
			column-gap: 25px;
		}
		@media (max-width: 560px) {
			flex-direction: column;
			text-align: center;
			row-gap: 30px;
		}
	}

	&__item {
	}

	&__link {
		line-height: 118.75%; /* 19/16 */
		letter-spacing: 0.002em;
		text-transform: capitalize;
		@media (max-width: 560px) {
			font-size: 1.875rem;
		}
	}
}

.action-header {
	display: flex;
	column-gap: 0.625rem;
	&__search {
		width: 2.75rem;
		height: 2.75rem;
		background-color: $silver-color;

		position: relative;
		border-radius: 50%;

		transition: background-color 0.3s ease-in-out;
		&::before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: url('../../../arct/img/icons/search.svg') 50% 50% no-repeat;

			transition: scale 0.2s ease-in-out;
		}

		@media (any-hover: hover) {
			&:hover {
				background-color: $darck-gray-color;

				&::before {
					scale: 1.1;
				}
			}
		}
	}

	&__icon {
		display: none;
		@media (max-width: 560px) {
			position: relative;
			z-index: 3;
			display: block;
			width: 2.75rem;
			height: 2.75rem;
			background-color: $silver-color;
			border-radius: 50%;

			transition: border-radius 0.4s ease-in-out 0.4s;

			&::before,
			& span,
			&::after {
				content: '';
				position: absolute;
				right: 0;
				width: 50%;
				height: 0.1875rem;
				background-color: #fff;
				transform-origin: center;
				transform: translateX(-50%);
			}
			&::before {
				top: 30%;
			}
			& span {
				top: 50%;
				transform: translateY(-50%) translateX(-50%);
			}
			&::after {
				bottom: 30%;
			}
			.open-menu & {
				border-radius: 0% 10% 0% 50%;
				transition: border-radius 0.3s ease-in-out;

				background-color: $brown-color;
			}
		}
	}
}
.icon-menu {
}
