.page {
	&__hero {
		position: relative;
	}
}
.hero {
	&__container {
		display: flex;
		align-items: center;
		height: 100vh;
	}

	&__wrapper {
		display: flex;
		flex-direction: column;
		position: relative;
		z-index: 5;

		width: 74.3125rem;
		margin-top: 8.0625rem;
		margin-left: clamp(0px, 9vw, 155px);
		row-gap: 4.5rem;
		@media (max-width: 767.98px) {
			margin-left: 0;
			row-gap: 1.875rem;
		}
	}

	&__main-content {
		max-width: 37.25rem;
	}

	&__body {
		display: flex;
		justify-content: space-between;
		column-gap: 0.9375rem;
		align-items: flex-start;

		background-color: #fff;
		padding: 2.8125rem 4.75rem 2.8125rem 2.5rem;

		@media (max-width: 767.98px) {
			flex-direction: column;
			row-gap: 1.25rem;
			padding: 1.5625rem;
		}
		@media (max-width: 424.98px) {
			flex-direction: column;
			padding: 0.9375rem;
		}
	}

	&__text {
		max-width: 45.625rem;
		font-size: 1.1875rem;
		line-height: 226%;
		letter-spacing: 0.002em;
		color: $silver-color;

		@media (max-width: 424.98px) {
			font-size: 1rem;
		}
	}

	&__button {
	}
	&__image {
		position: absolute;
		display: block;
		z-index: 2;
		top: 0;
		right: 0;
		height: 100svh;
		max-width: 71.5%;

		&::before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: #000000;
			opacity: 0.05;
			@media (max-width: $mobile) {
				background-color: #ffffff;
				opacity: 0.1;
			}
		}
		@media (max-width: $mobile) {
			max-width: 100%;
		}
	}
	&__img {
		width: 100%;
		height: 100%;
		aspect-ratio: 1273 / 938;
		object-fit: cover;
	}
}
.main-content {
	&__title {
	}
}
