.page {
	&__portfolio {
		margin-bottom: 260px;

		@media (max-width: 767.98px) {
			margin-bottom: 120px;
		}
	}
}
.portfolio {
	&__container {
		display: grid;
		grid-template-rows: repeat(2, auto);

		row-gap: clamp(20px, 5vw, 144px);
		@media (max-width: $pc) {
			row-gap: 60px;
		}
		@media (max-width: $mobile) {
			row-gap: 30px;
		}
	}

	&__header {
	}

	&__example {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		grid-template-rows: repeat(4, 1fr);

		column-gap: clamp(15px, 3vw, 60px);
		row-gap: clamp(15px, 3vw, 50px);

		@media (max-width: 991.98px) {
			grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
		}
	}

	&__item {
		min-height: 100%;

		aspect-ratio: 395 / 282;
		object-fit: cover;

		&:nth-child(1) {
			grid-area: 1 / 1 / 3 / 3;
			@media (max-width: 991.98px) {
				grid-area: auto;
			}
		}
		&:nth-child(10) {
			grid-area: 3 / 3 / 5 / 5;
			@media (max-width: 991.98px) {
				grid-area: auto;
			}
		}
		transition: all 0.3s ease-in-out;
		@media (any-hover: hover) {
			&:hover {
				box-shadow: 0px 0px 9px -4px #000000;
				scale: 1.01;
			}
		}
	}
}
.header-portfolio {
	&__body {
		display: grid;
		grid-template-columns: repeat(2, auto);
		align-items: center;

		max-width: 1415px;
		margin: 0 auto;

		column-gap: 0.9375rem;
		@media (max-width: $pc) {
			grid-template-columns: auto;
			grid-template-rows: repeat(1, auto);
			row-gap: 1.875rem;
		}
	}
	&__main-content {
	}

	&__menu {
	}

	&__body {
	}

	&__list {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;

		column-gap: 0.9375rem;
		row-gap: 0.9375rem;

		max-width: 600px;
		@media (max-width: $tablet) {
			column-gap: 0.625rem;
		}
		@media (max-width: $mobile) {
			flex-direction: column;
			text-align: center;
			row-gap: 1.5625rem;
		}
	}

	&__item {
	}

	&__link {
		@media (max-width: $mobile) {
			font-size: 1.25rem;
		}
	}
}
.main-content {
	&__title {
	}

	&__text {
	}
}

.item {
}
.item-big {
	grid-row: span 2;
}
