*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	border: none;
	box-sizing: border-box;
}
*::before,
*::after {
	display: inline-block;
}
body,
html {
	height: 100%;
	scroll-behavior: smooth;
}
body {
	line-height: 1;
}
a {
	text-decoration: none;
	color: inherit;
	display: inline-block;
}
img {
	max-width: 100%;
	vertical-align: middle;
}
li {
	list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: inherit;
	font-family: inherit;
	color: inherit;
	font-weight: inherit;
}

button {
	background-color: transparent;
	cursor: pointer;
	font-size: inherit;
	font-weight: inherit;
	color: inherit;
}

cite {
	font-style: normal;
}
// -------------------------------------------------------------
