.page {
	&__review {
		margin-bottom: 193px;

		@media (max-width: 767.98px) {
			margin-bottom: 120px;
		}
	}
}
.review {
	&__container {
		display: grid;
		grid-template-columns: repeat(1, auto);

		position: relative;
		justify-items: end;
	}

	&__content {
		position: relative;
		z-index: 3;
		max-width: 895px;

		padding: 7.5rem 8.125rem 9.375rem 10rem;
		margin-top: 8.3125rem;

		background-color: #fff;

		@media (max-width: $pc) {
			padding: 7.5rem 6.25rem 7.5rem 6.25rem;
		}
		@media (max-width: $tablet) {
			padding-top: clamp(50px, 17vw, 120px);
			padding-right: clamp(50px, 10vw, 100px);
			padding-bottom: clamp(50px, 17vw, 120px);
			padding-left: clamp(50px, 10vw, 100px);

			background-color: rgba(255, 255, 255, 0.9);

			margin: 0.9375rem 0;
		}
		@media (max-width: $mobile) {
			padding: 1.875rem;
			display: flex;
			flex-direction: column;
			row-gap: 2.1875rem;
		}
	}

	&__main-content {
	}

	&__info {
		display: flex;
		flex-direction: column;
		row-gap: 2.1875rem;
		position: relative;
		padding-top: 8.125rem;

		&::before {
			content: '';
			position: absolute;
			top: 0;
			left: -2.5rem;
			width: 12.25rem;
			height: 8.5625rem;

			background: url('../img/review/figure.svg') 0 0 no-repeat;

			@media (max-width: $mobile) {
				left: 0;
				display: none;
			}
		}
		@media (max-width: $mobile) {
			padding-top: 0;
		}
	}

	&__text {
		font-family: 'Rubik';
		font-size: 1.375rem;
		font-weight: 300;
		line-height: 222%;
		letter-spacing: 0.002em;
		color: $darck-silver-color;

		@media (max-width: $mobile) {
			font-size: 1rem;
		}
	}

	&__author {
	}

	&__name {
		font-family: 'Rubik';
		font-size: 1.625rem;
		font-weight: 500;
		line-height: 212%;
		text-transform: capitalize;
		color: $back-color;

		@media (max-width: $mobile) {
			font-size: 1.25rem;
		}
	}

	&__position {
		font-family: 'Rubik';
		line-height: 212%;
		letter-spacing: 0.02em;
		text-transform: capitalize;
	}

	&__image {
		position: absolute;
		z-index: 2;
		top: 0;
		left: 0;
		width: 64.6%;
		height: 92%;

		object-fit: cover;

		@media (max-width: $tablet) {
			width: 100%;
			height: 100%;
		}
	}
}
