$pc: 991.98px;
$tablet: 767.98px;
$mobile: 424.98px;

//===================================================

@import '_reset';
@import '_palitra';
@import '_components';
@import '_button';
@import '_header';
@import '_hero';
@import '_about';
@import '_portfolio';
@import '_services';
@import '_review';
@import '_faqs';
@import '_blog';
@import '_contact';
@import '_footer';

//===================================================

body {
	//----------------підключення шрифту--------------
	font-family: 'Rubik';
	//----------------налаштування шрифту-------------
	font-size: 16px;
	color: $darck-silver-color;
}
.wrapper {
	min-height: 100%;
	overflow: clip;
}

// ==============Обмежуючий контейнер==============

[class*='__container'] {
	max-width: 1780px;
	padding-inline: 15px;
	margin-inline: auto;
}
// ===============================================
