.page {
	&__clients {
		margin-bottom: clamp(80px, 11vw, 160px);
	}
}
.clients {
	&__wrapper {
		display: flex;
		flex-direction: column;

		max-width: 1600px;
		margin: 0 auto;

		row-gap: 128px;
		row-gap: clamp(50px, 11vw, 128px);

		padding-inline: 20px;
	}

	&__achievements {
	}

	&__brandy {
		display: grid;
		grid-template-columns: auto 1fr;
		align-items: start;

		column-gap: clamp(50px, 16vw, 292px);
	}
}
.achievements {
	&__list {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));

		column-gap: 96px;
		row-gap: 25px;
	}

	&__item {
		display: flex;
		flex-direction: column;
		row-gap: 12px;

		&::before {
			content: '';
			width: 100%;
			height: 2px;
			background-color: #000;
		}
		@media (max-width: 424.98px) {
			text-align: center;
		}
	}

	&__title {
		line-height: 1.23;
		letter-spacing: 2px;
		text-transform: uppercase;
		&:not(:last-child) {
			margin-top: 8px;
		}
	}

	&__value {
		text-transform: uppercase;
		font-size: clamp(40px, 10vw, 80px);
		line-height: 1.2;
		letter-spacing: 1px;
		font-weight: 600;
	}
}
.achievements-value--grean {
	color: rgba(210, 247, 90, 1);
}
.brandy-clients {
	&__title {
		display: inline-flex;
		column-gap: 8px;
		align-items: center;
		line-height: 1.23;
		text-transform: uppercase;
		letter-spacing: 2px;
		&::before {
			content: '';
			width: 24px;
			height: 2px;
			background-color: #000;
		}
	}

	&__list {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(140px, auto));
		justify-items: center;
		justify-content: space-between;
		align-items: center;
		column-gap: 20px;
		row-gap: 20px;
		@media (max-width: 424.98px) {
			justify-items: start;
		}
	}

	&__item {
	}
}
