@font-face {
	font-family: 'ClashDisplay-Medium';
	src: url('../fonts/ClashDisplay-Medium.woff2') format('woff2');
	font-weight: 500;
	font-display: swap;
	font-style: normal;
}
@font-face {
	font-family: 'ClashDisplay-Semibold';
	src: url('../fonts/ClashDisplay-Semibold.woff2') format('woff2');
	font-weight: 600;
	font-display: swap;
	font-style: normal;
}
