.footer {
	background-color: #000;
	color: #fff;

	&__container {
	}
	&__wrapper {
		padding-top: 96px;
		padding-bottom: 64px;
		padding-inline: clamp(20px, 9vw, 160px);

		display: flex;
		flex-direction: column;

		row-gap: 96px;
	}
	&__top {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;

		row-gap: 50px;
		column-gap: 15px;

		@media (max-width: 767.98px) {
			flex-direction: column;
			row-gap: 40px;
			align-items: center;
		}
	}

	&__logo {
	}

	&__menu {
	}

	&__copyright {
	}
}
.menu-footer {
	&__body {
	}

	&__columns {
		display: flex;
		align-items: flex-start;

		// gap: 233px;
		column-gap: clamp(25px, 13vw, 233px);

		@media (max-width: 767.98px) {
			flex-direction: column;
			row-gap: 40px;
			text-align: center;
		}
	}

	&__column {
		display: flex;
		flex-direction: column;

		row-gap: 32px;
	}

	&__title {
		font-size: 20px;
		line-height: 1.2;
		text-transform: uppercase;
		letter-spacing: 1px;
	}

	&__list {
		display: flex;
		flex-direction: column;
		row-gap: 2rem;
	}

	&__item {
	}

	&__link {
		line-height: 1.23;
		letter-spacing: 2px;
		text-transform: uppercase;
		transition: color 0.3s ease-in-out;
		@media (any-hover: hover) {
			&:hover {
				color: #d2f65a;
			}
		}
	}
}
.copyright-footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;

	row-gap: 15px;

	text-transform: uppercase;
	color: rgba(255, 255, 255, 0.7);
	&__text {
		line-height: 1.23;
		letter-spacing: 2px;
	}

	&__informations {
		display: flex;
		column-gap: 2rem;
	}

	&__info {
		transition: color 0.3s ease-in-out;
		@media (any-hover: hover) {
			&:hover {
				color: #d2f65a;
			}
		}
	}
}
