.header {
	&__container {
		display: flex;
		justify-content: space-between;
		align-items: center;

		// height: clamp(80px, 10vw, 108px);
		min-height: 108px;
		padding-block: 10px;
		column-gap: 0.9375rem;
		row-gap: 5px;

		@media (max-width: 535px) {
			flex-direction: column;
			align-items: center;
			padding-block: 15px;
		}
	}

	&__logo {
	}

	&__menu {
	}
}
.menu {
	&__body {
	}

	&__list {
		display: flex;
		align-items: center;
		flex-wrap: wrap;

		row-gap: 0.625rem;
		column-gap: 2rem;
		@media (max-width: 767.98px) {
			column-gap: clamp(10px, 10vw, 20px);
		}
		@media (max-width: 535px) {
			flex-direction: row-reverse;
		}
	}

	&__item {
		@media (min-width: 767.98px) {
			&:nth-child(2):not(:last-child) {
				margin-right: 1rem;
			}
		}
	}

	&__link {
		text-transform: uppercase;
		letter-spacing: 2px;
		line-height: 1.23;

		transition: scale 0.2s ease-in;
		@media (any-hover: hover) {
			&:hover {
				scale: 1.1;
			}
			&:active {
				transition: all 0s ease-in;
				scale: 1.15;
				color: #82a11a;
			}
		}
	}
	&__button {
	}
}
