.page {
	&__hero {
		margin-bottom: 96px;
		margin-bottom: clamp(40px, 11vw, 96px);
	}
}
.hero {
	&__container {
		display: flex;
		flex-direction: column;
	}

	&__header {
		display: flex;
		flex-direction: column;
		row-gap: 1rem;
		&:not(:last-child) {
			margin-bottom: 2rem;
		}
		@media (max-width: 535px) {
			margin-top: 16px;
			&:not(:last-child) {
				margin-bottom: 16px;
			}
		}
	}

	&__scrolling-text {
	}

	&__image {
		& img {
			width: 100%;
			aspect-ratio: 1824 / 1440;
			object-fit: cover;
		}
	}
}
.header-hero {
	&__image {
		width: 100%;
	}

	&__title {
		text-transform: uppercase;
		font-size: 3rem;
		font-size: clamp(1.75rem, 5vw, 3rem);
		line-height: 1.2;
		letter-spacing: 1px;
	}
}
.scrolling-text {
	&__wrapper {
	}

	&__inner {
	}
}
.scrolling-text--grean {
}
