.page {
	&__work {
		margin-top: clamp(40px, 8vw, 64px);
		margin-bottom: clamp(80px, 8vw, 128px);
	}
}
.work {
	&__container {
	}

	.example {
		&__container {
			display: flex;
			flex-direction: column;
			row-gap: 96px;
			row-gap: clamp(40px, 8vw, 96px);
		}

		&__title {
			text-align: center;
		}

		&__items {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			grid-auto-rows: auto;
			@media (max-width: 767.98px) {
				grid-template-columns: repeat(1, 1fr);
				grid-template-rows: repeat(4, auto);
			}
		}

		&__item {
		}

		&__image {
		}

		&__product {
		}
	}
}
.example {
}
